################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ConnUtils/ConnUtils/obj/Debug/netcoreapp2.1/ConnUtils.csprojAssemblyReference.cache
/ConnUtils/.vs/ConnUtils/v15
/ConnUtils/ConnUtils/bin/Debug/netcoreapp2.1
/ConnUtils/ConnUtils/obj
/ConnUtils/ConsoleApp1
/ConnUtils/.vs/ConnUtils/DesignTimeBuild/.dtbcache
/ConnUtils/ConnUtils/bin/Debug/netcoreapp2.2
/ConnUtils/CoreConsoleApp/bin/Debug/netcoreapp2.2
/ConnUtils/CoreConsoleApp/obj/Debug/netcoreapp2.2
/ConnUtils/CoreConsoleApp/obj
/ConnUtils/FxConsoleApp/bin/Debug
/ConnUtils/FxConsoleApp/obj/Debug
/ConnUtils/Models/bin/Debug/netstandard2.0
/ConnUtils/Models/obj
/ConnUtils/.vs/ConnUtils/v16
