<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!--ORM测试 -->
    <!--<add key="serverType" value="DapperTest" />-->
    <!--<add key="serverType" value="PetapocoTest" />-->
    <add key="serverType" value="FluentDataTest" />
  </appSettings>

  <connectionStrings>
    <add name="OwnCon" connectionString="Data Source=.;Initial Catalog=OWNDB;user id=sa;pwd=123456"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>